$bodyBackground: #ffffff;
$bodyColorText: #282b39;
$bodyFont: 'Hind', sans-serif;
$headerBackground: url('../img/m-h-day.jpg');
$marker: #0ca1c8;
$buttonColor: #699a00;
$cardColor: #1c1e2a;
$footerBackground: #1c1e2a;
$map-gradient: ('start':#66aa00, 'end':#295ad8);