$bodyBackground: #1b1e2a;
$bodyColorText: #ffffff;
$bodyFont: 'Fresca', sans-serif;
$headerBackground: url('../img/m-h-night.jpg');
$marker: #ff4d30;
$buttonColor: #e4ae00;
$cardColor: #383d4f;
$footerBackground: #383d4f;
$map-gradient: ('start':#dea401, 'end':#972f4d);