.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

.header_link {
    background-color: #0d6666;
    flex-grow: 1;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    border: 1px solid #0d3333;
    margin-bottom: 10px;
}

.header_link.active {
    background-color: #808080;
}

li {
    margin-left: 30px;
}

.inp_blick {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
