$root-color: #efe6df;
$play-button-dark: #378de5;
$play-button-light:#79bbff;
$play-button-border: #84bbf3;
$text-color: #ffffff;
$reset-button-light: #fe1a00;
$reset-button-dark: #ce0100;
$reset-button-border: #d83526;